{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>CV Builder</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>

<body>
    <div id="test-popup" class="white-popup">
        <div class="top-form-header">
            <h4>Login Form</h4>
        </div>
        <form action="#" method="post" id="main_login_form" novalidate="">
            {% csrf_token %}
            <div class="row">

                <div class="col-12 col-md-12">
                    <div class="group">
                        <input type="text" name="username" id="name0" required="">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Username</label>
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="group">
                        <input type="password" name="password" id="name1" required="">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                    </div>
                </div>

                <div class="col-12 col-sm-5 text-left ">
                    <button type="submit" class="btn dream-btn">Login</button>
                </div>
                <div class="col-12 col-sm-7 text-left">
                    <p class="mb-0 mt-10">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
                </div>
            </div>
        </form>

        <div class="other-accounts text-center">
            <p class="w-text">Login with other account</p>
            <div class="footer-social-info">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
        </div>

        {% if messages %}
            {% for message in messages %}
                <p class="text-danger text-center" style="font-weight: bold;">{{ message }}</p>
            {% endfor %}
        {% endif %}
        
    </div>

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/particles.html' %}"></script>
    <script src="{% static 'js/app.html' %}"></script>
    <!-- Parallax js -->
    <script src="{% static 'js/dzsparallaxer.js' %}"></script>

    <script src="{% static 'js/jquery.syotimer.min.js' %}"></script>

    <!-- script js -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/form-script.js' %}"></script>q
</body>

</html>